body{
    background-color:rgb(126, 124, 126);
}
h1{
    color:rgb(0, 0, 0);
    font-size: 60px;
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}
img{
    width: 20%;
    margin-left: 610px;
    border: 10px dotted rgb(241, 241, 241) ;
}
.img_cabecalho{
    height: 260px; 
    width: 260px ;
    transition: 0.3s;
}
.img_cabecalho:hover{
    opacity: 2.8s;
}
header{
    display:flex;
background-color:rgb(3, 10, 19)
}